body {
  font-family: sans-serif;
  margin: 0;
  /* background-image: url(" */
  font-family: copperplate, fantasy;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  background-color: #104f55;
}

.all-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin: 0;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-weight: bold;
  padding: 8px 16px;
  color: white;
}

nav a:hover {
  color: blue;
}

.routes {
  padding: 2rem 2.5rem;
}

/* #cartLink {
  position: absolute;
  right: 80px;
} */

form div {
  margin: 1em;
  display: inline-block;
}

.all-product-container {
  width: 75%;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  gap: 2rem;
}

.all-products img {
  width: 10rem;
  height: 12rem;
}

.sp-description {
  box-sizing: border-box;

  padding: 5px 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.single-product-container {
  display: flex;
  justify-content: space-around;
  color: #104f55;
}

.single-product img {
  width: 17rem;
  height: 24rem;
}

.img-desc {
  display: flex;
  flex-direction: column;
}

.single-product h2 {
  size: 20px;
}

.product-card {
  flex-basis: 20%;
}

.user {
  display: flex;
  justify-content: flex-start;
}
#checkout {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 20px 0px;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}
#checkout:hover {
  background-color: #463dc5;
}
